

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #ffcf86;
    color: #00025e;
    font-size: 1.5rem;
}
input[type="text"] {
    width: 65vw;
    height: 65vw;
  }
#przycisk{
    width: 65vw;
    height: 65vw;
}
#login{
    font-size: 10vw;
}
#pierw{
    text-align: center;
    font-size: 10vw;
    width: 100%;
    
}
#potem{
    font-size: 30rem;
    text-align: center;
    width: 100%;
    height: 100vw;
    
}
#tabeleczka{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border-radius: 10vw;

}
#tabeleczka td{
    border: 1px solid #ccc;
    width: 20vw;
    height: 5vw;
    text-align: center;
    vertical-align: middle;
    font-size: clamp(10px, 5vw, 20px);
    overflow: hidden;
    padding: 0;
}
#wyniki {
    display: none;
    margin: 0.5vw;
    width: 40vw;
    float: left;
    height: 40vw;
}
#wyniki table {
    display: none;
    margin: 0.5vw;
    border: 0.2vw solid #ffcf86;
    text-align: center;
    max-width: 40vw;
    max-height: 40vw;
    border-radius: 5vw;
}
#wyniki td {
    display: none;
    border: 0.2vw solid #ffcf86;
    aspect-ratio: 1/1;
    text-align: center;
    vertical-align: middle;
    max-width: 19vw;

}
#alerty{
    display: none;
    width: 50%;
    float: right;
    height: 20vw;
}
#t3{
    width: 90%;
    height: 100%;
    border-radius: 20px;
}
#t4{
    width: 90%;
    height: 100%;
    border-radius: 20px;
}
table {

    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;
    
}

th, td {
    border: 0.2vw solid #ffcf86;
    padding: 10px;
    text-align: center;
    font-size: 3rem;
    height: 14.28%;
    
}

th {
    background-color: #f4b6c2;
    color: #fff;
    font-weight: bold;
}
.login_content{
    width: 100%;
    text-align: center;
    border: 0.2vw solid #ffcf86;
    font-weight: 2500%;
    border-radius: 20%;
}
